.container{
  text-align: center;
  width: 100%;
}

.display {
  padding-top: 100px;
  padding-bottom: 80px;
}

.buttons {
  width: 90px;
  margin: 0 5px;
}

.section {
  width: 48%;
  display: inline-block;
}

.user-input {
  font-size: 30px;
  width: 50px;
  height: 30px;
  margin: 0 10px;

}
